### Python template
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.pytest_cache/

# Sphinx documentation
docs/_build/

# Environments
.idea

# mypy
.mypy_cache/

# nox
.nox/
